@media (min-width: 490px) {
body {
		.container {
			.header {
				div {
					width: 25%;
				}
			}
		}
	}
}

@media (min-width: 550px) {
body {
		.container {
			.header {
				div {
					a {
						font-size: 1em;					
					}
				}
			}
			.content {
				font-size: 0.975em;
			}
		}
	}
}

@media (min-width: 920px) {
body {
		.container {
			overflow: hidden;
			#slideshow {
				width: 65%;
				float: left;
					.mainphoto {
						width: 70%;
						float: none;
					}
				}
			.content {
				width: 35%;
				float: left;
				}	
			}	
		}
}

/* widescreen TV is 1920px * 1080px */
/* @media (min-width: 1500px) */