/* FONTS */

$darkblue: #027EC6;
$lightblue: #CED2FB;

* {
	box-sizing: border-box;
	font: 1em 'Open Sans';
}

/* CONTAINER */

.container {
	overflow: hidden;
	width: 80%;
	margin: 0 auto; /* centre horizontally */
	background-color: $darkblue;
	a {
		text-decoration: none;
		color: white;
	&:hover {
		color: #91CAEB;
	}
}

	/* HEADER */

	.header {
		overflow: hidden;
		div {
			width: 16.66666666666667%;
			float: left;
			padding: 1em;
			background-color: $darkblue;
			text-align: center;
			font-size: 1em;
		}
	}

	/* CONTENT */

	.content {
		overflow: hidden;
		background-image:
			linear-gradient(
				$darkblue, white
			);
		.subcontent {
			float: left;
			padding: 0 1em;
			width: 33.33333333333333%;
			ul {
				list-style-type: none;
				padding: 0;
				li {
					border: 0.125em solid #FFF;
					padding: 0.5em;
					margin: 0.7em 0;
				}
			}
		}
		.mainphoto {
			float: left;
			width: 66.666666666666667%;
		}
	}

	/* FOOTER */

	.footer {
		padding: 2em;
		ul {
			li {
				a {
					color: #000000;
					text-decoration: none;
				}
			}
		}
	}
}